development:
  adapter: postgresql
  encoding: unicode
  database: test_app_development
  pool: 5
  username: ror_app
  password: testpass

test:
  adapter: postgresql
  encoding: unicode
  database: test_app_test
  pool: 5
  username: ror_app
  password: testpass
